body {
    color: #f7f7f7;
}

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}

#filter-btn {
   background-color:  gold;
   color: black;

}

.list-group-item {
    color: black;
}

